.loader {
  width: 8px;
  height: 20px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: relative;
  /* background: currentColor; */
  /* color: #4a4a4a; */
     background: linear-gradient(to bottom, #4a90e2, #a355b9, #ff6b6b);

  box-sizing: border-box;
  animation: animloader 0.4s 0.4s linear infinite alternate;
  /* background-color: red; */
}

.loader::after, .loader::before {
  content: '';
  width: 8px;
  height: 20px;
  border-radius: 4px;
  /* background: currentColor; */
     background: linear-gradient(to bottom, #4a90e2, #a355b9, #ff6b6b);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: animloader 0.3s  0.45s  linear infinite alternate;
  /* background-color: red; */
}
.loader::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader {
  0%   { height: 35px} 
  100% { height: 4px}
}