.pulsating-circle {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translateX(-50%) translateY(-50%);
  width: 40px;
  height: 40px;
  
  &:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 50%;
    /* background-color: #5f5f5f; */
     background: linear-gradient(to bottom, #4a90e2, #a355b9, #ff6b6b);
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }
  
  &:after {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: rgb(2, 141, 255); */
     background: linear-gradient(to bottom, #4a90e2, #a355b9, #ff6b6b);
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}

@media only screen and (max-width:1100px){
  .pulsating-circle{
    top: 70%;
  }
}

@media only screen and (max-width: 380px){
  .pulsating-circle{
    top: 74%;
  }
}